.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 300px;
} 

html {
    background-image: url("images/lines-vector-3.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

img#steve {
    align-self: center;
    width: 50rem;
    height: 30rem;
    z-index: 1;
    border: 10px solid #000;
    box-shadow: 0 0 20px rgba(22, 21, 21, 0.952); 
}


#head {
    display: flex;
    align-self: center;
}

.chars {
    color: white;
    font-size: 280px;
    font-weight: bolder;
    z-index: -2;
}

.chars.open-brace {
    grid-area: 1 / 1 / 11 / 2;
}

.chars.close-brace {
    float: right;
}

.chars.semi-colon {
    float: right; 
}


a {
    height: inherit;
    color: black;
}

img.link {
    width: 60px;
    margin: 15px;
    padding: 3px;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 0 0 10px #000;

}

a#linked img.link {
    border-radius: 10px;
}

a#mail img.link {
    border-radius: 95%;
}

div.media-links {
    grid-area: 2 / 9 / 5 / 11;
    margin-left: 30px;
    width: 90px;
}

.link {
    align-self: center;
    height: inherit;
}



div.text {
    position: relative;
    align-self: center;
    max-width: 800px;
    min-width: 800px;
}

div.top {
    display: grid;
    grid-template-columns: repeat(10, 1fr);

}

div.intro {
    grid-area: 1 / 3 / 3 / 8;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 4fr;
    align-self: left;
    margin: 10px 0;
    padding: 10px;
    background-color: #FFF;
    width: 450px;
    border-radius: 10px;
    border-bottom-right-radius: 160px;
    box-shadow: 0 0 10px rgba(22, 21, 21, 0.952); 
    z-index: 1;
    
}

h1#name {
    grid-area: 1 / 1 / 1 / 2;
    color: #3E1929;
    font-size: 36px;
    text-align: center;
    margin: auto;
    font-family: 'Ubuntu Condensed', sans-serif;
    align-self: center;
}

h2#dev {
    grid-area: 2 / 1 / 2 / 2;
    margin: 0;
    align-self: top;
    text-align: center;
    font-family: 'Fugaz One', cursive;
}
#shape {
    grid-area: 1 / 2 / 3 / 3;
    width: 130px;
    position: relative;
    height: 80px;
    background-image: url("images/lines-vector-3.svg");
    background-color: #FFF;
    background-attachment: fixed;
    border: 6px solid #CBE00D;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 80%;
    box-shadow: inset 0 0 10px rgba(22, 21, 21, 0.952); 
}

p#bio {
    grid-area: 3 / 1 / 3 / 4;
}

#projects-head {
    grid-area: 1 / 4 / 2 / 6;
    margin: auto;
    width: 280px;
    font-family: 'Nova Mono', monospace;
    text-decoration: underline;
    font-size: 30px;
    background: #FFF;
    border: 8px outset #CBE00D;
    box-shadow: 0 0 10px rgba(22, 21, 21, 0.952); 
    border-top-right-radius: 20px;
}

#projects-head h2 {
    text-align: center;
    margin: 0;
}

div.projects {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 8px;
    margin-top: 10px;
}

.project-title {
    padding: 10px;
    margin: auto;
    font-family: 'Nova Mono', monospace;
    text-decoration: underline;
    font-size: 30px;
    background: #FFF;
    border: 7px solid #3E1929;
    box-shadow: 0 0 10px rgba(22, 21, 21, 0.952); 
    z-index: 2;
}

.tropple.detail-link {
    grid-area: 1 / 1 / 3 / 4;
    margin: auto;
    z-index: 2;
}



.project-title:hover {
    box-shadow: 0 0 30px #3E1929;
}



.project-img {
    padding: 10px;
    width: 300px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(22, 21, 21, 0.952); 
}

.tropple.title-wrapper {
    grid-area: 1 / 1 / 3 / 3;
    margin: auto;
    z-index: 2;
}

.tropple.project-title {
    font-size: 28px;
    transform: rotateZ(-5px);
    border-bottom-left-radius: 30px;
    border-top-right-radius: 40px;
}

.tropple.project-img {
    grid-area: 2 / 1 / 4 / 5;
}


.vm.title-wrapper {
    grid-area: 2 / 6 / 4 / 11;
    margin: auto;
    z-index: 2;
}


.vm.project-title {
    font-size: 28px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 50px;
}

.vm.project-img {
    grid-area: 3 / 6 / 6 / 11;
}

.np.title-wrapper {
    grid-area: 4 / 1 / 6 / 5;
    font-size: 24px;
    margin: auto;
    z-index: 2;
}

.np.project-title {
    font-size: 28px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 40px;
}

.np.project-img {
    grid-area: 5 / 1 / 7 / 5;
}


.ar.title-wrapper {
    grid-area: 5 / 6 / 7 / 11;
    margin: auto;
    z-index: 2;
}

.ar.project-title {
    font-size: 26px;
    padding: 12px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 50px;
}

.ar.project-img {
    grid-area: 6 / 6 / 10 / 11;
}


p {
    font-family: 'Fira Mono', monospace;
    position: relative;
    font-size: 20px;
    font-weight: 700;
    max-width: 400px;
    align-self: center;
}

#head {
    position: relative;
}

#git.info.detail {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

/* TROPPLE */

img.big {
    align-self: center;
    width: 600px;
    border: 8px solid #000;
    box-shadow: 0 0 10px rgba(22, 21, 21, 0.952); 
    z-index: 2;
}


div#home {
    position: absolute;
    left: -40px;
    bottom: 0;
    width: 100px;
    height: 45px;
    font-family: 'Nova Mono', monospace;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    background-color: white;
    border: 8px solid #CBE00D;
    box-shadow: 0 0 10px #000;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 30px;
    z-index: 2;
}

#home:hover {
    box-shadow: 0 0 10px #CBE00D;
}

#home a {
    text-decoration: none;
}

main.detail #projects-head {
    margin: 2rem;
    border-color: #CBE00D;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
    border-style: outset;
    box-shadow: 0 0 10px rgba(22, 21, 21, 0.952);
    z-index: -2;
}

div.window {

}

div#notes-1.window {
    width: 820px;
    height: 1100px;
    top: 20%;
    left: 50%; 
    margin-left: -410px;
    position: absolute;
    background-image: url("images/tropple-notes-big.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(.1em);
    z-index: -2;
    border-style: none;

    border-top-left-radius: 10px;
    border-radius: 20px;
}


div.project-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;   
}

div.project-detail p{
    padding: 10px;
    font-size: 15px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(22, 21, 21, 0.952);
}

div#notes-2.window {
    width: 330px;
    height: 220px;
    margin: auto;
    background-image: url("images/tropple-perspective-2.png");
    background-size: 100%;
    z-index: 1;
    box-shadow: 0 0 10px rgba(22, 21, 21, 0.952);
}

div#notes-3.window {
    width: 330px;
    height: 220px;
    margin: auto;
    background-image: url("images/tropple-dealt-damage.png");
    background-size: 100%;
    z-index: 1;
    box-shadow: 0 0 10px rgba(22, 21, 21, 0.952);
}

div#notes-4.window {
    width: 330px;
    height: 180px;
    margin: auto;
    background-image: url("images/tropple-code-2.png");
    background-size: 100%;
    z-index: 1;
    box-shadow: 0 0 10px rgba(22, 21, 21, 0.952);
}

#p1 {
    grid-area: 1 / 1 / 2 / 2;
}

#p2 {
    grid-area: 2 / 2 / 3 / 3;
}

#p3 {
    grid-area: 3 / 1 / 3 / 2;
}

/* Vending Machine */

img.vm.big {
    height: 400px;
    width: auto;
}

main.vm #projects-head {
    font-size: 28px;
    width: 400px;
}

.vm.window#notes-2 {
    background-image: url("images/vm-screen.png");

}

.vm.window#notes-3 {
    max-height: 200px;
    background-image: url("images/vm-sold-out.png");
}

.vm.window#notes-4 {
    background-image: url("images/vm-end-transaction.png");
}

.vm.window#notes-1 {
    background-image: url("images/oop-notes-big-2.jpg");
    width: 760px;
    height: 1100px;
    top: 20%;
    left: 50%; 
    margin-left: -380px;
}

/* National Parks */

img.np.big {
    height: 350px;
    width: auto;
}

main.np #projects-head {
    font-size: 28px;
    width: 400px;
}

.np.window#notes-2 {
    background-image: url("images/np-search.png");
}

.np.window#notes-3 {
    max-height: 170px;
    background-image: url("images/np-query.png");
}

.np.window#notes-4 {
    background-image: url("images/np-betty-books.png");
    height: 150px;
}

.np.window#notes-1 {
    background-image: url("images/notes-normalization.jpg");
    width: 750px;
    height: 950px;
    top: 20%;
    left: 50%; 
    margin-left: -375px;
}


/* Film AR */


main.ar #projects-head {
    font-size: 28px;
    width: 400px;
}

.ar.window#notes-2 {
    background-image: url("images/ar-red.jpg");
    background-size: 100%;
    height: 380px;
}

.ar.window#notes-3 {
    height: 370px;
    background-image: url("images/ar-green.jpg");
}

.ar.window#notes-1 {
    background-image: url("images/notes-normalization.jpg");
    width: 750px;
    height: 950px;
    top: 20%;
    left: 50%; 
    margin-left: -375px;
}

div.ar div.project-detail {
    grid-template-rows: 1fr;
}