.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 300px;
} 

html {
    background-image: url("images/lines.jpg");
    background-attachment: fixed;
}

#steve {
    align-self: center;
    width: 784px;
    border: 8px outset #b366b3;
    z-index: -2;
    box-shadow: 0 0 10px rgba(22, 21, 21, 0.952); 

}

#head {
    display: flex;
    align-self: center;
    max-width: 800px;
}

#info {
    grid-area: 1 / 8 / 11 / 11;
    position: sticky;
    margin-top: 10px;
    top: 300px;
    float: right;
    height: 60px;
    width: 205px;
    border: 8px outset #CBE00D;
    background: #FFF;
    box-shadow: 0 0 10px rgba(22, 21, 21, 0.952); 
    transform: rotateZ(5deg);
}

#info:hover {
    border-style: inset;
}

a {
    height: inherit;
    color: black;
}

a:hover {
    color:  #FF5A3E;
}

.link {
    align-self: center;
    height: inherit;
}



div.text {
    position: relative;
    align-self: center;
    max-width: 800px;
    min-width: 800px;
}

div.top {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(8, 12.5%);
}

div.intro {
    grid-area: 1 / 2 / 5 / 4;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 5fr;
    align-self: left;
    margin: 10px 0;
    padding: 10px;
    width: 400px;
    background: white;
    border: 8px outset #82ECFF;
    box-shadow: 0 0 10px rgba(22, 21, 21, 0.952); 
    
}

h1#name {
    grid-area: 1 / 1 / 1 / 2;
    color: rgb(179, 102, 179);
    margin: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
    align-self: center;
}

h2#dev {
    grid-area: 2 / 1 / 2 / 3;
    margin: 0;
    align-self: top;
    font-family: 'Fugaz One', cursive;
}
#shape {
    grid-area: 1 / 2 / 3 / 3;
    position: relative;
    left: 50px;
    width: 130px;
    height: 80px;
    background-image: url("images/lines-small.jpg");
    background-attachment: fixed;
    background-position: center;
    border: 5px inset #CBE00D;
}

p#bio {
    grid-area: 3 / 1 / 3 / 3;
}

#projects-head {
    grid-area: 5 / 3 / 8 / 4;
    margin: auto;
    width: 300px;
    font-family: 'Nova Mono', monospace;
    text-decoration: underline;
    font-size: 30px;
    background: #FFF;
    border: 8px outset #CBE00D;
    box-shadow: 0 0 10px rgba(22, 21, 21, 0.952); 
}

#projects-head h2 {
    text-align: center;
    margin: 0;
}

div.project {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%;
    grid-gap: 8px;
    margin-top: 10px;
}

.project-title{
    grid-area: 1 / 1 / 2 / 2;
    padding: 10px;
    margin: auto;
    font-family: 'Nova Mono', monospace;
    text-decoration: underline;
    font-size: 30px;
    background: #FFF;
    border: 8px outset #FF5A3E;
    box-shadow: 0 0 10px rgba(22, 21, 21, 0.952); 
}

.vm .project-title {
    grid-area: 1 / 2 / 2 / 3;
}

.project-title:hover {
    border-style: inset;
}

.detail-link {
    grid-area: 1/ 1 / 2 / 2;
    margin: auto;
}

.project-img {
    grid-area: 2 / 1 / 3 / 2;
    margin: auto;
    padding: 10px;
    width: 300px;
    background: #FFF;
    border: 8px outset #82ECFF;
    box-shadow: 0 0 10px rgba(22, 21, 21, 0.952); 
}

.project-img:hover {
    border-style: inset;
}

.img-link {
    grid-area: 2 / 1 / 3 / 2;
    margin: auto;
}

.vm .project-img {
    grid-area: 2 / 2 / 3 / 2;
}

p.project-text {
    grid-area: 1 / 2 / 3 / 2;
    align-self: center;
    justify-self: center;
    margin: 0;
    padding: 10px;
    background: #FFF;
    border: 8px outset rgb(179, 102, 179);
    box-shadow: 0 0 10px rgba(22, 21, 21, 0.952); 
}

.vm p.project-text {
    grid-area: 1 / 1 / 3 / 2;
}
#icon {
    padding-left: 3px;
    padding-top: 3px;
    font-family: 'Limelight', cursive;
    color: rgb(122, 93, 122);
    align-self: flex-start;
}



p {
    font-family: 'Nova Mono', monospace;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    max-width: 400px;
    align-self: center;
}



/* TROPPLE */

img#tropple-big {
    align-self: center;
    width: 600px;
    border: 8px inset rgb(179, 102, 179);
    box-shadow: 0 0 10px rgba(22, 21, 21, 0.952); 
}

div.detail-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    perspective: 2px;
}


main.detail #projects-head {
    grid-area: 2 / 2 / 3 / 3;
    border-color: #FF5A3E;
    border-style: outset;
    box-shadow: 0 0 10px rgba(22, 21, 21, 0.952);

}

div.window {
    width: 300px;
    height: 200px;
    border-style: outset;
}

div#notes-1.window {
    width: 900px;
    height: 1100px;
    top: 20%;
    left: 50%; 
    margin-left: -460px;
    position: absolute;
    background-image: url("images/tropple-notes-big.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    border: 10px  #82ECFF;
    z-index: -2;
    border-style: ridge;
    box-shadow: inset 0 0 10px rgba(22, 21, 21, 0.952);
}


div.project-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;   
}

div.project-detail p{
    padding: 10px;
    font-size: 15px;
    background: #FFF;
    border: 8px outset rgb(179, 102, 179);
    box-shadow: 0 0 10px rgba(22, 21, 21, 0.952);
}

div#notes-2.window {
    width: 330px;
    margin: auto;
    background-image: url("images/tropple-perspective.jpg");
    background-size: 100%;
    border: 8px outset #CBE00D;
    z-index: 1;
    box-shadow: 0 0 10px rgba(22, 21, 21, 0.952);
}

div#notes-3.window {
    width: 330px;
    height: 250px;
    margin: auto;
    background-image: url("images/tropple-end-turn.jpg");
    background-size: 100%;
    border: 8px outset #CBE00D;
    z-index: 1;
    box-shadow: 0 0 10px rgba(22, 21, 21, 0.952);
}

div#notes-4.window {
    width: 330px;
    height: 250px;
    margin: auto;
    background-image: url("images/tropple-code-2.jpg");
    background-size: 100%;
    border: 8px outset #CBE00D;
    z-index: 1;
    box-shadow: 0 0 10px rgba(22, 21, 21, 0.952);
}

#p1 {
    grid-area: 1 / 1 / 2 / 2;
}

#p2 {
    grid-area: 2 / 2 / 3 / 3;
}

#p3 {
    grid-area: 3 / 1 / 3 / 2;
}
